<!--Thông tin phòng ở đây-->
<div class="container">
    <div>
        <h2>Thông tin phòng</h2>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Số phòng</td>
                            <td><%= room.roomID %></td>
                        </tr>
                        <tr>
                            <td>Giá phòng</td>
                            <td><%= priceConvert(room.price) %>VND/đêm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <img src="<%= room.imgSrc %>" alt="" style="width: 500px;height: 300px;">
            </div>
        </div>
    </div>
    <div>
        <h2>Thông tin đặt phòng</h2>
        <form action="/order" method="POST">
            <div class="form-group">
                <label for="customerName">Họ tên khách hàng</label>
                <input type="text" class="form-control" id="customerName" name="customerName">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customerID">CMND</label>
                    <input type="text" class="form-control" id="customerID" name="customerID">
                </div>
                <div class="form-group col-md-6">
                    <label for="customerTel">SĐT</label>
                    <input type="text" class="form-control" id="customerTel" name="customerTel">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start">Ngày đặt phòng</label>
                    <input type="date" class="form-control" id="start" name="start">
                </div>
                <div class="form-group col-md-6">
                    <label for="exp">Ngày trả phòng</label>
                    <input type="date" class="form-control" id="exp" name="exp">
                </div>
            </div>
            <input type="text" name="roomID" value="<%= room._id %>" hidden>
            <input type="numer" name="price" value="<%= room.price %>" hidden>
            <button type="submit" class="btn btn-primary">Đặt phòng</button>
        </form>
    </div>
</div>